.scalafmt.conf
.bsp/
ENV*sh
examples/*token*
.bloop/
.metals/
.scalafmt.conf
project/metals.sbt
target/
project/target/
project/project/
boot/
lib_managed/
src_managed/
project/plugins/project/
.idea/
.ensime
.ensime-cache/
